.cookies {
    background: url(#{$img}/cookies-bg.svg) no-repeat center center / cover;
    position: fixed;
    z-index: 2;
    bottom: 18px;
    right: 26px;
    padding: 42px 28px 45px 32px;
    width: 244px;
    box-sizing: border-box;
    display: none;
    @include desktop {
        bottom: 60px;
        right: 64px;
    }

    &_text {
        color: $bg_color;
        font-size: 18px;
        margin: 0 0 16px;

        a {
            color: $bg_color;
            text-decoration: underline;
            transition: .2s $easing opacity;

            &:hover {
                opacity: .6;
            }
            &:hover {
                opacity: .8;
            }
        }
    }
    &_button {
        font-size: 16px;
        background-color: transparent;
        border: 2px solid $bg_color;
        border-radius: 2px;
        color: $bg_color;
        padding: 0 10px;
        height: 48px;
        line-height: 43px;
        display: flex;
        justify-content: center;
        min-width: 0;
        width: 100%;
        transition: .2s $easing color,
                    .2s $easing background,
                    .2s $easing transform;

        &:hover {
            background-color: $bg_color;
            color: $color;
            transform: scale(1.02);
        }
        &:active {
            transform: scale(.98);
        }
    }
}
