.service {
    position: relative;
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    @include desktop {
        opacity: 0;
        transform: translateY(50px);
        transition: .8s $easeOutCirc transform,
                    .8s $easeOutCirc opacity;
    }

    .services_holder.animated & {
        transform: translateY(0);
        opacity: 1;
    }

    &_bg {
        height: 100%;
        width: 100%;
    }
    &_text {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 25%;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
        opacity: 0;
        transition: .2s $easing opacity .1s;

        .service:hover & {
            opacity: 1;
            transition-duration: 0s;
            transition-delay: 0s;
        }

        .service__yellow & {
            color: $bg_color;
        }
        .service__purple & {
            left: -7%;
        }
    }
    &_title {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        width: 55%;
        position: absolute;
        z-index: 1;
        top: 55%;
        left: 50%;
        transform: translateX(-50%);
        transition: .2s $easeInOutCirc opacity .2s;
        @include desktop {
            font-size: 20px;
            line-height: 24px;
        }

        .service:hover & {
            opacity: 0;
            transition: .2s $easeInOutCirc opacity 0s;
        }

        .service__red & {
            color: $cRed;
            @include desktop {
                left: 44%;
                width: 45%;
            }
        }
        .service__yellow & {
            color: $cYellow;
            top: 65%;
            left: 55%;
            @include desktop {
                width: 40%;
                top: 67%;
                left: 44%;
            }
        }
        .service__purple & {
            color: $cPurple;
            top: 75%;
            left: 45%;
            width: 70%;
            @include desktop {
                left: 55%;
            }
        }
    }
    &_text-line {
        display: block;
        opacity: 0;
        transform: translateY(50px);
        transition: .1s $easeInOutCirc opacity .1s,
                    .1s $easeInOutCirc transform .1s;

        
        .service:hover & {
            transform: translateY(0);
            opacity: 1;
        }
        @for $i from 1 through 10 {
            li:nth-child(#{$i}) & {
                transition-delay: #{$i * 0.12}s;
            }
        }
        @for $i from 10 through 1 {
            li:nth-child(#{$i}):hover & {
                transition-delay: #{$i * 0.12}s;
            }
        }
    }

    ul {
        padding: 0;
        list-style: none;
    }
    li {
        margin: 0;
        padding: 5px 0;
        font-size: 14px;
        line-height: 18px;
        white-space: nowrap;
        position: relative;
        overflow: hidden;
        @include tablet {
            font-size: 16px;
        }
        @include desktop {
            font-size: 20px;
            line-height: 24px;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            border-bottom: 1px solid currentColor;
            transform-origin: left center;
            transform: scaleX(0);
            transition: .2s $easeInOutCirc transform;
        }
        &:first-child::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            border-bottom: 1px solid currentColor;
            transform-origin: left center;
            transform: scaleX(0);
            transition: .2s $easeInOutCirc transform;
        }
        @for $i from 1 through 10 {
            &:nth-child(#{$i})::after {
                transition-delay: #{$i * 0.07}s;
            }
        }
    }
    &:hover li::after {
        transform: scaleX(1);
    }
    &:hover li::before {
        transform: scaleX(1);
    }
    
    .services_holder.animated &:hover {
        .service_bg-border {
            fill: $cRed;
        }
        .service_bg-border__yellow {
            fill: $cYellow;
        }
        .service_bg-border__purple {
            fill: $cPurple;
        }
    }
    &_bg-border {
        fill: transparent;
        transition: .2s ease-in-out fill .2s;

        .service:hover & {
            transition-delay: 0s;
        }
    }
}
