.careers {
    position: relative;
    padding: 0 0 0 48px;
    margin: 0 -24px 80px 0;
    @include tablet {
        padding-left: 50px;
    }
    @include desktop {
        margin-bottom: 110px;
        padding-left: 104px;
        margin-right: 0;
    }
    @include desktop-large {
        padding-left: 136px;
    }

    &_title-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        transform-origin: 0 0;
        transform: rotate(-90deg) translate(-100%, -20%);
    }
    &_title {
        line-height: 1;
        font-weight: 700;
        text-transform: uppercase;
    }

    .tns-ovh {
        @include desktop {
            overflow: visible;
        }
    }
}

.career {
    width: 188px;
    @include desktop {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 0 72px;
    }

    &_icon-wrapper {
        position: relative;
        margin: 0 0 18px;
        cursor: pointer;
        transition: .2s $easing transform;
        @include desktop {
            margin: -35px 50px 0 0;
        }

        &:hover {
            transform: scale(.95);
        }
        &:active {
            transform: scale(1.05);
        }
    }
    &_icon {
        display: block;
        @include desktop {
            width: 154px;
        }
    }
    &_icon-filled {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .2s $easing opacity;

        .career_icon-wrapper:hover & {
            opacity: 1;
        }
    }
    &_title {
        display: block;
        font-weight: 700;
        margin: 0 0 20px;
        user-select: none;
        @include desktop {
            margin: 0;
            font-size: 28px;
            line-height: 32px;
            width: 25%;
        }
        @include desktop-large {
            margin: 0;
            font-size: 32px;
            line-height: 40px;
        }
    }
    &_description {
        margin: 0 0 30px;
        user-select: none;
        @include desktop {
            margin: 0 30px 0 0;
            font-size: 20px;
            line-height: 32px;
            width: 25%;
        }
        @include desktop-large {
            margin-right: 35px;
        }
    }
    &_button {
        @include button-reset;
        height: 48px;
        line-height: 48px;
        color: $cRed;
        font-size: 18px;
        padding: 0 20px;
        min-width: 120px;
        background: url(#{$img}/cv-buttons/button-1.svg) no-repeat center / 100% 100%;
        position: relative;
        transition: .2s $easing transform;
        @include desktop {
            height: 62px;
            line-height: 62px;
            font-size: 20px;
            min-width: 140px;
        }
        @include desktop-large {
            min-width: 180px;
        }

        &:hover {
            color: $bg_color;
        }
        &:active {
            transform: scale(.9);
        }
    }
    &_button-bg {
        background: url(#{$img}/cv-buttons/button-1-filled.svg) no-repeat center / 100% 100%;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
        border-radius: 50%;
        transform: scale(0);
        transition: .2s $easing opacity,
                    .2s $easing border-radius,
                    .2s $easing transform;

        .career_button:hover & {
            opacity: 1;
            transform: scale(1);
            border-radius: 0;
        }
    }
    &_button-text {
        position: relative;
        z-index: 1;
    }
}
