.connect {
    &_title {
        background: $bg_color url(#{$img}/connect-bg.svg) no-repeat center / contain;
        text-transform: uppercase;
        display: flex;
        flex-direction: column;

        span {
            display: block;
            @include tablet {
                width: 60%;
            }
            
        }
        span + span {
            margin-top: 92px;
            text-align: right;
            align-self: flex-end;
            @include tablet {
                margin-top: 36px;
            }
            @include desktop {
                margin-top: 50px;
            }
        }
    }
    &_form {
        position: relative;
    }
    &_form-button[type] {
        @include button-reset;
        background: url(#{$img}/textarea-button.svg) no-repeat center / cover;
        position: absolute;
        bottom: 4px;
        right: 4px;
        width: 122px;
        height: 49px;
        font-size: 18px;
        color: rgba($color, .4);
    }
}
