.footer {
    background: $cYellow;
    color: $bg_color;

    &_holder {
        @include layout;
        display: flex;
        justify-content: space-between;
        gap: 32px;
        padding-top: 32px;
        padding-bottom: 32px;
        @include tablet {
            gap: 46px;
        }
        @include desktop {
            padding-top: 62px;
            padding-bottom: 62px;
        }
    }
    &_left,
    &_right {
        flex-grow: 1;
    }
    &_right {
        @include tablet {
            display: flex;
            gap: 46px;
        }
        @include desktop {
            gap: 72px;
        }
    }
    &_menu {
        @include desktop {
            display: flex;
            gap: 72px;
        }
    }
    &_column {
        @include desktop-large {
            display: flex;
            justify-content: space-between;
            gap: 44px;
        }

        &:last-child {
            @include tablet {
                flex-shrink: 0;
            }
        }
    }
    &_subcolumn {
        margin-bottom: 30px;
    }
    &_column-title {
        display: block;
        font-weight: 700;
        margin: 0 0 10px;
    }

    a {
        color: $bg_color;
        text-decoration: underline;
    }
}
