.gallery {
    position: relative;
    padding: 0 0 0 16px;
    margin: 0 0 120px;
    @include tablet {
        padding-left: 50px;
        margin-bottom: 80px;
    }
    @include desktop {
        margin-bottom: 160px;
    }

    &_title-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        transform-origin: 0 0;
        transform: rotate(-90deg) translate(-100%, -20%);
    }
    &_title {
        line-height: 1;
        text-transform: uppercase;
    }
    &_row {
        @include desktop {
            overflow: hidden;
        }

        .gallery_more ~ & {
            display: none;
        }
    }
    &_subtitle {
        font-size: 18px;
        padding: 0 0 0 54px;
        margin: 24px 0 18px;
        white-space: nowrap;
        background: no-repeat left 34px center / contain;
        @include tablet {
            background-position: center;
            text-align: center;
            
        }
        @include desktop {
            font-size: 32px;
            margin-top: 40px;
        }

        &.js-animation {
            @include tablet {
                opacity: 0;
                transform: translateY(50px);
                transition: .5s $easeOutCirc opacity,
                            .5s $easeOutCirc transform;
            }
        }
        &.animated {
            opacity: 1;
            transform: translateY(0);
        }

        &::before {
            content: '';
            border-bottom: 2px solid $color;
            width: 22px;
            vertical-align: middle;
            display: inline-block;
            margin: 0 4px 0 0;
            margin-top: -2px;
            @include desktop {
                width: 40px;
                margin-right: 10px;
            }
        }

        .gallery_row:nth-child(1) & {
            background-image: url(#{$img}/title-bg-1.svg);
            height: 54px;
            line-height: 54px;
            @include tablet {
                background-position: center -10px center;
            }
            @include desktop {
                height: 94px;
                line-height: 94px;
            }

            &::before {
                @include tablet {
                    margin-left: -20px;
                }
                @include desktop {
                    margin-left: 0px;
                }
            }
        }
        .gallery_row:nth-child(2) & {
            background-image: url(#{$img}/title-bg-2.svg);
            height: 74px;
            line-height: 74px;
            padding-left: 60px;
            @include desktop {
                height: 93px;
                line-height: 93px;
                margin-top: 0;
            }

            &::before {
                @include desktop {
                    margin-left: 80px;
                }
            }
        }
        .gallery_row:nth-child(3) & {
            background-image: url(#{$img}/title-bg-3.svg);
            height: 95px;
            line-height: 95px;
            margin-top: 45px;
            padding-left: 80px;
            @include desktop {
                height: 100px;
                line-height: 100px;
                margin-top: 70px;
            }
            @include desktop-large {
                margin-top: 90px;
            }

            &::before {
                @include tablet {
                    margin-left: 80px;
                }
                @include desktop {
                    margin-left: 220px;
                }
            }
        }
        .gallery_row:nth-child(4) & {
            background-image: url(#{$img}/title-bg-4.svg);
            height: 54px;
            line-height: 54px;
            padding-left: 74px;
            @include desktop {
                height: 72px;
                line-height: 72px;
                margin-top: 50px;
                margin-bottom: 50px;
            }

            &::before {
                @include tablet {
                    margin-left: -40px;
                }
                @include desktop {
                    margin-left: 0px;
                }
            }
        }
        .gallery_row:nth-child(5) & {
            background-image: url(#{$img}/title-bg-5.svg);
            height: 54px;
            line-height: 54px;
            @include desktop {
                height: 92px;
                line-height: 92px;
                margin-top: 70px;
            }

            &::before {
                @include tablet {
                    margin-left: 120px;
                }
                @include desktop {
                    margin-left: 240px;
                }
            }
        }
    }
    &_items {
        display: flex;
        @include desktop {
        }
    }
    &_item {
        position: relative;
        @include desktop {
            flex-shrink: 0;
        }

        &:nth-child(1) {
            .gallery_items__pattern-1 & {
                @include desktop {
                    width: 30%;
                }
            }
            .gallery_items__pattern-2 & {
                @include desktop {
                    width: 28%;
                }
            }
            .gallery_items__pattern-3 & {
                @include desktop {
                    width: 32%;
                }
            }
            .gallery_items__pattern-4 & {
                @include desktop {
                    width: 33%;
                }
            }
        }
        &:nth-child(2) {
            .gallery_items__pattern-1 & {
                @include desktop {
                    width: 38%;
                }
            }
            .gallery_items__pattern-2 & {
                @include desktop {
                    width: 56%;
                }
            }
            .gallery_items__pattern-3 & {
                @include desktop {
                    width: 28%;
                }
            }
            .gallery_items__pattern-4 & {
                @include desktop {
                    width: 39%;
                }
            }
        }
        &:nth-child(3) {
            .gallery_items__pattern-1 & {
                @include desktop {
                    width: 22%;
                }
            }
            .gallery_items__pattern-2 & {
                @include desktop {
                    width: 30%;
                }
            }
            .gallery_items__pattern-3 & {
                @include desktop {
                    width: 29%;
                }
            }
            .gallery_items__pattern-4 & {
                @include desktop {
                    width: 41%;
                }
            }
        }
        &:nth-child(4) {
            .gallery_items__pattern-1 & {
                @include desktop {
                    width: 23%;
                }
            }
            .gallery_items__pattern-3 & {
                @include desktop {
                    width: 29%;
                }
            }
        }
    }
    &_image {
        max-width: 60vw;
        position: relative;
        
        @include desktop {
            width: 100%;
        }

        &.js-animation {
            @include tablet {
                opacity: 0;
                transform: translateY(50px);
                transition: .5s $easeOutCirc opacity,
                            .5s $easeOutCirc transform;
            }
        }
        &.animated {
            opacity: 1;
            transform: translateY(0);
        }

        .gallery_item:nth-child(1) & {
            .gallery_items__pattern-1 & {
                top: -42px;
                @include desktop {
                    top: -13%;
                }
            }
            .gallery_items__pattern-2 & {
                top: -21px;
                @include desktop {
                    top: -6%;
                }
            }
            .gallery_items__pattern-3 & {
                top: -32px;
                @include desktop {
                    top: -5%;
                }
            }
            .gallery_items__pattern-4 & {
                top: -32px;
                @include desktop {
                    top: -5%;
                }
            }
        }
        .gallery_item:nth-child(2) & {
            .gallery_items__pattern-1 & {
                left: -42px;
                @include desktop {
                    left: -10%;
                }
            }
            .gallery_items__pattern-2 & {
                left: -42px;
                top: 21px;
                @include desktop {
                    left: -10%;
                    top: 7%;
                }
            }
            .gallery_items__pattern-3 & {
                left: -42px;
                top: 20px;
                z-index: 2;
                @include desktop {
                    left: -10%;
                    top: 15%;
                }
            }
            .gallery_items__pattern-4 & {
                left: -42px;
                top: 20px;
                @include desktop {
                    left: -10%;
                    top: 15%;
                }
            }
        }
        .gallery_item:nth-child(3) & {
            .gallery_items__pattern-1 & {
                top: -32px;
                left: -82px;
                @include desktop {
                    top: -8%;
                    left: -40%;
                }
            }
             .gallery_items__pattern-2 & {
                left: -82px;
                top: -30px;
                @include desktop {
                    left: -46%;
                    top: -10%;
                }
            }
            .gallery_items__pattern-3 & {
                top: 0;
                left: -82px;
                @include desktop {
                    top: 0;
                    left: -40%;
                }
            }
            .gallery_items__pattern-4 & {
                top: -10;
                left: -82px;
                @include desktop {
                    top: -2%;
                    left: -30%;
                }
            }
        }
        .gallery_item:nth-child(4) & {
            .gallery_items__pattern-1 & {
                top: 5px;
                left: -126px;
                @include desktop {
                    top: 3%;
                    left: -55%;
                }
            }
            .gallery_items__pattern-3 & {
                top: 15px;
                left: -126px;
                @include desktop {
                    top: 12%;
                    left: -62%;
                }
            }
        }
    }
    &_more {
        padding: 30px 0 0;
        text-align: center;
        @include tablet {
            padding-top: 40px;
        }
    }
    &_hidden {
        display: none;
    }

    .tns-outer {
        margin: 0 -24px 0 -40px;
        @include tablet {
            margin-left: -82px;
            margin-right: -30px;
        }
        @include desktop {
            margin: 0;
        }
    }
    .tns-ovh {
        padding: 42px 0 0 72px;
        @include desktop {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
