.logo {
    position: relative;
    z-index: 1;
    transition: .2s $easing filter,
                .5s linear transform;

    &:hover {
        filter: brightness(4) grayscale(1);
        //transform: rotate(360deg);
        transition: .2s $easing filter,
                    5s linear transform;
    }

    &_image {
        display: block;
        transition: .5s linear transform;
        @include desktop {
            width: 74px;
        }
        @include desktop-large {
            width: 5.4vw;
        }

        .logo:hover & {
            transform: scale(1.1);
        }
    }
}
