.team {
    position: relative;
    padding: 0 0 0 48px;
    margin: 0 -24px 0 0;
    @include tablet {
        padding-left: 50px;
    }
    @include desktop {
        padding-left: 82px;
        margin-bottom: 110px;
        margin-right: -62px;
    }
    @include desktop-large {
        margin-right: calc(-50vw - 22px + $max-width / 2 + $side-indent__desktop / 2);
    }

    &_title-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        transform-origin: 0 0;
        transform: rotate(-90deg) translate(-100%, -20%);
    }
    &_title {
        line-height: 1;
        text-transform: uppercase;
    }
    &_slider {
        padding-bottom: 80px;
        @include desktop {
            width: 184px;
        }
    }
    &_member {
        width: 148px;
        position: relative;
        overflow: visible;
        user-select: none;
        cursor: none;
        @include desktop {
            width: 210px;
        }
        @include desktop-large {
            width: 280px;
        }
    }
    &_member-tooltip {
        pointer-events: none;
        background: $cBlue;
        padding: 10px 15px;
        border-radius: 5px 5px 30px 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        color: $bg_color;
        opacity: 0;
        transform-origin: center;
        z-index: 1;
        box-sizing: border-box;
        width: 220px;
        transform: scale(.7) translate(-50%, -50%);
        transition: .2s $easeInOutCirc opacity,
                    .2s $easeInOutCirc transform,
                    .1s linear left,
                    .1s linear top;
        @include desktop {
            padding: 20px 30px;
        }

        .team_member:hover & {
            opacity: 1;
            transform: scale(1) translate(-50%, -50%);
        }
    }
    &_member-title {
        font-size: 14px;
        line-height: 18px;
        font-weight: 700;
        display: block;
        margin: 0 0 10px;
        @include desktop {
            font-size: 20px;
            line-height: 24px;
        }
    }
    &_member-description {
        font-size: 14px;
        line-height: 18px;
        @include desktop {
            font-size: 20px;
            line-height: 24px;
        }
    }
}
