body {
    color: $color;
    background-color: $bg_color;
    font: #{$font-size__small}/#{1.4} $font-family;
    padding: 0;
    @include tablet {
        font-size: $font-size;
    }
}

a {
    color: $cRed;
    text-decoration: none;
    transition: .2s $easing color;

    &:hover,
    &.hover {
        outline: none;
    }
    &:active,
    &.active {
        outline: none;
    }
}

p {
    margin: 0 0 10px;
    @include tablet {
        margin-bottom: 18px;
    }
}

img {
    max-width: 100%;

    h3 & {
        vertical-align: middle;
        margin: 0 20px 0 0;
    }
}

button,
input,
textarea {
    &:focus {
        outline: none;
    }
}

table {
    min-width: 100%;
}

ul {
    padding: 0;

    li:not([class]) {
        padding: 0 0 0 15px;
        position: relative;
        background: url(#{$img}/marker.svg) no-repeat left 6px;
        list-style: none;
        margin: 0 0 6px;
        @include tablet {
            margin-bottom: 12px;
        }
    }

    ul {
        padding-left: 10px;
        margin: 6px 0 0;
        @include tablet {
            margin-top: 12px;
        }
    }
}

ol {
    padding: 0 0 0 20px;

    li {
        margin: 0 0 6px;
        @include tablet {
            margin-bottom: 12px;
        }
    }
}

sup {
    font-size: 14px;
    line-height: 24px;
    color: #999;
    white-space: nowrap;
    display: block;
    margin-top: 10px;
    @include tablet {
        position: relative;
        top: -20px;
        display: inline;
        margin-top: 0;
    }
}

fieldset {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #F2F2F2;
    padding: 0 0 8px;
    margin: 0 0 30px;
    @include tablet {
        margin-bottom: 36px;
    }
}

legend {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 18px;
    @include tablet {
        font-size: 25px;
        margin-bottom: 25px;
    }
}

blockquote {
    background-color: $cRed;
    font-style: italic;
    margin: 0;
    padding: 28px 20px;
    color: $color;
    position: relative;
    text-align: center;
    margin: 15px 0 40px;
    @include tablet {
        margin-top: 30px;
    }

    &::before {
        content: '';
        position: absolute;
        right: 20px;
        top: -10px;
        background: url(#{$img}/quotes-top.svg) no-repeat center center / 100% 100%;
        width: 46px;
        height: 33px;
    }
    &::after {
        content: '';
        position: absolute;
        left: 20px;
        bottom: -10px;
        background: url(#{$img}/quotes-bottom.svg) no-repeat center center / 100% 100%;
        width: 46px;
        height: 33px;
    }
}

hr {
    height: 1px;
    background: #E5E5E5;
    margin: 40px 0;
    border: none;
}

.sticky-header-page {
    position: relative;
}

.title-count {
    color: $cGrey;
    font-size: .55em;
    margin: 0 0 0 5px;
    top: -11px;
    display: inline;
    @include tablet {
        font-size: .7em;
    }

    .menu_toggle & {
        margin: 0;
        @include tablet {
            margin: 0 0 0 5px;
        }
    }
}

.main-button-count {
    color: rgba($color, .5);
}
