@font-face {
    font-family: 'PPMonumentExtended';
    src: url('src/fonts/PPMonumentExtended-Medium.woff2') format('woff2'),
        url('src/fonts/PPMonumentExtended-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PPMonumentExtended';
    src: url('src/fonts/PPMonumentExtended-Heavy.woff2') format('woff2'),
        url('src/fonts/PPMonumentExtended-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AlteHaasGrotesk';
    src: url('src/fonts/AlteHaasGrotesk.woff2') format('woff2'),
        url('src/fonts/AlteHaasGrotesk.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AlteHaasGrotesk';
    src: url('src/fonts/AlteHaasGroteskBold.woff2') format('woff2'),
        url('src/fonts/AlteHaasGroteskBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
